@import "../../../assets/scss/variables";
@import "../../../assets/scss/button";
@import "../../../assets/scss/dialogBox";

.header {
  z-index: 20;
}
.removeBg {
  background-color: transparent !important;
}
.container {
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  &__footer {
    width: 100%;
    height: 12.8rem;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 4rem;
    background-color: rgba($background-grey-color, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;

    &--camera {
      width: 55%;
      display: flex;
      justify-content: space-between;
    }
    #cameraIcon {
      width: 7.7rem;
    }

    .cameraBtn {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
    .screenShotText {
      display: flex;
      align-items: center;
      color: $primary-color;
      font-size: 3.2rem;
      margin: 0 3rem 0 0;
    }

    &--Btngroup {
      display: flex;

      button:not(:last-child) {
        margin-right: 1.6rem;
      }
    }
  }
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40rem;
  z-index: 2;
  opacity: 0.9;
  background: radial-gradient(266.77% 97.9% at 1.86% 0.8%, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.9) 100%);
  opacity: 0.9;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 0 4rem;
  backdrop-filter: blur(20px);

  @media screen and (max-width: 600px) {
    width: 70%;
  }

  &__content {
    margin-bottom: 2rem;
    overflow-y: auto;
    max-height: calc(100% - 15rem);

    &-title {
      font-size: 3.2rem;
      color: $blue-color;
      font-weight: 500;
      margin: 3.6rem 0;

      @media screen and (min-width: 768px) {
        font-size: 2.8rem;
      }

      @media screen and (max-width: 600px) {
        font-size: 6.8rem;
      }
    }

    &-title2 {
      font-size: 2.8rem;
      color: $blue-color;
      font-weight: 400;
      margin: 0;

      @media screen and (min-width: 768px) {
        font-size: 2.4rem;
      }

      @media screen and (max-width: 600px) {
        font-size: 5.4rem;
      }
    }

    &-text {
      font-size: 2.8rem;
      color: $black-color;
      margin: 1.2rem 0 0 0;
      font-weight: 300;
      font-family: "Myriad Light";
      @media screen and (min-width: 768px) {
        font-size: 2.4rem;
      }

      @media screen and (max-width: 600px) {
        font-size: 5.4rem;
      }
    }

    &-goal {
      margin-bottom: 4.8rem;

      @media screen and (min-width: 768px) {
        margin-bottom: 4rem;
      }
    }

    ul {
      font-size: 2.8rem;
      font-weight: 300;
      font-family: "Myriad Light";
      margin-top: 0.5rem;
      @media screen and (min-width: 768px) {
        font-size: 2.4rem;
      }

      @media screen and (max-width: 600px) {
        font-size: 4.8rem;
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6rem;

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    button {
      padding: 0;
      border: none;
      background: none;
      cursor: pointer;
    }
    #cross {
      margin-left: 2.5rem;
      img {
        width: 2.8rem;
        height: 2.8rem;
      }
    }
    #closeBtn {
      width: 4rem;
    }
  }
}

.snapshotContainer {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;

  @media screen and (max-width: 600px) {
    object-fit: none;
  }
}
.zIndex {
  z-index: 1;
}

.pi-question-circle:before {
  color: $blue-color;
  font-size: 3.2rem;
}
