<div class="header">
  <app-header
    [onFinishRecording]="recording"
    [ontakeScreenshot]="takeScreenshot"
    (cancelExe)="onCancelExersice()"
    (show)="onSlidebarOpen($event)"
  ></app-header>
</div>
<div class="container">
  <div class="snapshotContainer">
    <video
      #video
      class="video"
      autoplay
      playsinline
      muted
      [ngClass]="{ zIndex: !imageCapture }"
    ></video>
    <canvas #canvas class="canvas" width="640" height="480"></canvas>
  </div>

  <div
    [ngClass]="
      fullscreen && !onCameraClick
        ? 'removeBg container__footer'
        : 'container__footer'
    "
  >
    <div class="container__footer--camera">
      <p
        class="screenShotText"
        *ngIf="isScreenShot"
        [ngStyle]="{
          color: branding?.generalConfig?.actionText?.color
            ? branding?.generalConfig?.actionText?.color
            : '',
          fontFamily: branding?.generalConfig?.actionText?.fontFamily
            ? branding?.generalConfig?.actionText?.fontFamily
            : '',
          fontWeight: branding?.generalConfig?.actionText?.fontWeight
            ? branding?.generalConfig?.actionText?.fontWeight
            : '',
          fontSize: branding?.generalConfig?.actionText?.fontSize
            ? branding?.generalConfig?.actionText?.fontSize
            : ''
        }"
      >
        {{ fullscreen ? '' : ('takescreenshot.screenShotText' | translate) }}
      </p>

      <p
        class="screenShotText"
        *ngIf="!isScreenShot"
        [ngStyle]="{
          color: branding?.generalConfig?.actionText?.color
            ? branding?.generalConfig?.actionText?.color
            : '',
          fontFamily: branding?.generalConfig?.actionText?.fontFamily
            ? branding?.generalConfig?.actionText?.fontFamily
            : '',
          fontWeight: branding?.generalConfig?.actionText?.fontWeight
            ? branding?.generalConfig?.actionText?.fontWeight
            : '',
          fontSize: branding?.generalConfig?.actionText?.fontSize
            ? branding?.generalConfig?.actionText?.fontSize
            : ''
        }"
      >
        {{ 'takescreenshot.previewText' | translate }}
      </p>

      <button
        type="button"
        class="cameraBtn"
        (click)="takeScreenShot()"
        *ngIf="isScreenShot"
      >
        <img src="assets/icnons/camera.png" alt="camera-icon" id="cameraIcon" />
      </button>
    </div>

    <div class="container__footer--Btngroup" *ngIf="onCameraClick">
      <button
        class="button button-small button-outline"
        (click)="onRetake()"
        [ngStyle]="{
          background: branding?.generalConfig?.buttonOutline?.backGround
            ? branding?.generalConfig?.buttonOutline?.backGround
            : '',
          border: branding?.generalConfig?.buttonOutline?.border
            ? branding?.generalConfig?.buttonOutline?.border
            : '',
          color: branding?.generalConfig?.buttonOutlineText?.color
            ? branding?.generalConfig?.buttonOutlineText?.color
            : '',
          fontFamily: branding?.generalConfig?.buttonOutlineText?.fontFamily
            ? branding?.generalConfig?.buttonOutlineText?.fontFamily
            : '',
          fontWeight: branding?.generalConfig?.buttonOutlineText?.fontWeight
            ? branding?.generalConfig?.buttonOutlineText?.fontWeight
            : '',
          fontSize: branding?.generalConfig?.buttonOutlineText?.fontSize
            ? branding?.generalConfig?.buttonOutlineText?.fontSize
            : '',
          borderRadius: branding?.generalConfig?.buttonOutline?.borderRadius
            ? branding?.generalConfig?.buttonOutline?.borderRadius
            : ''
        }"
      >
        {{ 'takescreenshot.retake' | translate }}
      </button>
      <button
        class="button button-small button-fill"
        (click)="onDone()"
        [ngStyle]="{
          background: branding?.generalConfig?.buttonFill?.backGround
            ? branding?.generalConfig?.buttonFill?.backGround
            : '',
          border: branding?.generalConfig?.buttonFill?.border
            ? branding?.generalConfig?.buttonFill?.border
            : '',
          color: branding?.generalConfig?.buttonFillText?.color
            ? branding?.generalConfig?.buttonFillText?.color
            : '',
          fontFamily: branding?.generalConfig?.buttonFillText?.fontFamily
            ? branding?.generalConfig?.buttonFillText?.fontFamily
            : '',
          fontWeight: branding?.generalConfig?.buttonFillText?.fontWeight
            ? branding?.generalConfig?.buttonFillText?.fontWeight
            : '',
          fontSize: branding?.generalConfig?.buttonFillText?.fontSize
            ? branding?.generalConfig?.buttonFillText?.fontSize
            : '',
          borderRadius: branding?.generalConfig?.buttonFill?.borderRadius
            ? branding?.generalConfig?.buttonFill?.borderRadius
            : ''
        }"
      >
        {{ 'takescreenshot.proceed' | translate }}
      </button>
    </div>
  </div>
</div>
<div [innerHTML]="myStyle"></div>
<div
  *ngIf="isSidebarOpen"
  #sidenav
  @fadeAnimation
  class="sidebar takescreenshot-sidebar"
>
  <div class="sidebar__header">
    <button type="button" (click)="onSlidebarClose()">
      <img src="assets/icnons/close.png" alt="closebtn" id="closeBtn" />
    </button>

    <button type="button" class="button" id="cross" (click)="confirm()">
      <i class="pi pi-times" (click)="confirm()" alt="cross"></i>
    </button>
  </div>
  <div
    class="sidebar__content"
    id="sidebar__content"
    *ngIf="appData"
    [innerHTML]="appData?.descriptionItems[2]?.content"
  ></div>
</div>

<p-confirmDialog header="Confirmation" #cd>
  <ng-template pTemplate="header">
    <p
      class="header m-0"
      [ngStyle]="{
        color: branding?.generalConfig?.contentTitle?.color
          ? branding?.generalConfig?.contentTitle?.color
          : '',
        fontFamily: branding?.generalConfig?.contentTitle?.fontFamily
          ? branding?.generalConfig?.contentTitle?.fontFamily
          : '',
        fontWeight: branding?.generalConfig?.contentTitle?.fontWeight
          ? branding?.generalConfig?.contentTitle?.fontWeight
          : '',
        fontSize: branding?.generalConfig?.contentTitle?.fontSize
          ? branding?.generalConfig?.contentTitle?.fontSize
          : ''
      }"
    >
      {{ 'takescreenshot.quitExe' | translate }}
    </p>
  </ng-template>
  <ng-template pTemplate="footer" class="footer">
    <button
      class="button button-small button-outline"
      type="button"
      (click)="cd.reject()"
      [ngStyle]="{
        background: branding?.generalConfig?.buttonOutline?.backGround
          ? branding?.generalConfig?.buttonOutline?.backGround
          : '',
        border: branding?.generalConfig?.buttonOutline?.border
          ? branding?.generalConfig?.buttonOutline?.border
          : '',
        color: branding?.generalConfig?.buttonOutlineText?.color
          ? branding?.generalConfig?.buttonOutlineText?.color
          : '',
        fontFamily: branding?.generalConfig?.buttonOutlineText?.fontFamily
          ? branding?.generalConfig?.buttonOutlineText?.fontFamily
          : '',
        fontWeight: branding?.generalConfig?.buttonOutlineText?.fontWeight
          ? branding?.generalConfig?.buttonOutlineText?.fontWeight
          : '',
        fontSize: branding?.generalConfig?.buttonOutlineText?.fontSize
          ? branding?.generalConfig?.buttonOutlineText?.fontSize
          : '',
        borderRadius: branding?.generalConfig?.buttonOutline?.borderRadius
          ? branding?.generalConfig?.buttonOutline?.borderRadius
          : ''
      }"
    >
      {{ 'takescreenshot.goback' | translate }}
    </button>

    <button
      class="button button-small button-fill"
      type="button"
      (click)="cd.accept()"
      [ngStyle]="{
        background: branding?.generalConfig?.buttonFill?.backGround
          ? branding?.generalConfig?.buttonFill?.backGround
          : '',
        border: branding?.generalConfig?.buttonFill?.border
          ? branding?.generalConfig?.buttonFill?.border
          : '',
        color: branding?.generalConfig?.buttonFillText?.color
          ? branding?.generalConfig?.buttonFillText?.color
          : '',
        fontFamily: branding?.generalConfig?.buttonFillText?.fontFamily
          ? branding?.generalConfig?.buttonFillText?.fontFamily
          : '',
        fontWeight: branding?.generalConfig?.buttonFillText?.fontWeight
          ? branding?.generalConfig?.buttonFillText?.fontWeight
          : '',
        fontSize: branding?.generalConfig?.buttonFillText?.fontSize
          ? branding?.generalConfig?.buttonFillText?.fontSize
          : '',
        borderRadius: branding?.generalConfig?.buttonFill?.borderRadius
          ? branding?.generalConfig?.buttonFill?.borderRadius
          : ''
      }"
    >
      {{ 'takescreenshot.quit' | translate }}
    </button>
  </ng-template>
</p-confirmDialog>
