@import '../scss/variables';

@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MYRIADPRO-REGULAR.OTF');
}

.button {
  border: 1px solid transparent;
  height: 4.8rem;
  border-radius: 0.5rem;
  font-size: 2.4rem;
  background-color: transparent;
  cursor: pointer;
  font-family: 'MyriadPro';
  font-weight: 500;

  &-big {
    width: 32rem;
  }

  &-exSmall {
    width: 8rem;
  }

  &-small {
    width: 24rem;
  }

  &-fill {
    background-color: $primary-color;
    color: $white-color;
  }

  &-outline {
    color: $primary-color;
    border: 2px solid $primary-color;

    &:hover {
      transform: translateY(0.2rem);
      box-shadow: 0 0.2rem 0.2rem rbga(0, 0, 0, 0.25);
      background-color: transparent !important;
      transition: all 0.2s ease;
    }
  }

  &:hover {
    transform: translateY(0.2rem);
    box-shadow: 0 0.2rem 0.2rem rbga(0, 0, 0, 0.25);
    background-color: $dark-primary-color;
    transition: all 0.2s ease;
  }
}
