$primary-color: #B41513;
$blue-color: #044772;
$dark-grey-color: #75787D;
$element-grey-color: #707172;
$bright-grey-color:  #DEE2E4;
$background-grey-color: #F3F4F4;

$white-color: #FFFFFF;
$black-color: #000000;

