@import '../../../assets/scss/variables';
@import '../../../assets/scss/button';
@import '../../../assets/scss/carousel';
@import '../../../assets/scss/_radiobutton';

:host {
  ::ng-deep .p-carousel .p-carousel-indicators {
    display: flex;
    bottom: -1rem;

    @media (min-width: 1200px) {
      bottom: -4rem;
    }
  }

  ::ng-deep .p-carousel .p-carousel-content .p-carousel-next {
    right: 1rem;
    top: calc(50% - 24px);
    @media (max-width: 600px) {
      top: calc(50% - 14px);
    }
  }

  ::ng-deep .p-carousel .p-carousel-content .p-carousel-prev {
    left: 2rem;
    top: calc(50% - 24px);
    @media (max-width: 600px) {
      top: calc(50% - 14px);
    }
  }
  ::ng-deep .p-carousel-items-content {
    height: 32rem !important;
    @media (max-width: 600px) {
      height: 32rem !important;
    }
  }

  ::ng-deep .p-radiobutton .p-radiobutton-box.p-highlight,
  .p-radiobutton-icon {
    visibility: hidden;
    position: absolute;
    display: none;
  }
  ::ng-deep .p-radiobutton {
    visibility: hidden;
    position: absolute;
    display: none;
  }
}

.container {
  position: absolute;
  width: 100%;
  height: calc(100% - 6.4rem);
  padding: 4rem 4rem;
  overflow: hidden;
  &__title {
    width: 100%;

    &-text {
      font-size: 4rem;
      font-weight: 400;
      color: $blue-color;
      margin: 0;
    }
  }
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40rem;
  z-index: 1;
  opacity: 0.9;
  background: radial-gradient(
    266.77% 97.9% at 1.86% 0.8%,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.9) 100%
  );
  opacity: 0.9;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 0 4rem;
  backdrop-filter: blur(20px);

  @media screen and (max-width: 600px) {
    width: 70%;
  }

  &__content {
    overflow-y: auto;
    max-height: calc(100% - 15rem);
    margin-bottom: 2rem;

    &-title {
      font-size: 3.2rem;
      color: $blue-color;
      font-weight: 500;

      @media screen and (min-width: 768px) {
        font-size: 2.8rem;
      }

      @media screen and (max-width: 600px) {
        font-size: 6.8rem;
      }
    }

    &-title2 {
      font-size: 2.8rem;
      color: $blue-color;
      font-weight: 400;
      margin: 0;

      @media screen and (min-width: 768px) {
        font-size: 2.4rem;
      }

      @media screen and (max-width: 600px) {
        font-size: 5.4rem;
      }
    }

    &-text {
      font-size: 2.8rem;
      color: $black-color;
      margin: 1.2rem 0 0 0;
      font-weight: 300;
      font-family: 'Myriad Light';
      @media screen and (min-width: 768px) {
        font-size: 2.4rem;
      }

      @media screen and (max-width: 600px) {
        font-size: 5.4rem;
      }
    }

    &-goal {
      margin-bottom: 4.8rem;

      @media screen and (min-width: 768px) {
        margin-bottom: 4rem;
      }
    }

    ul {
      font-size: 2.8rem;
      font-weight: 300;
      font-family: 'Myriad Light';
      margin-top: 0.5rem;
      @media screen and (min-width: 768px) {
        font-size: 2.4rem;
      }

      @media screen and (max-width: 600px) {
        font-size: 4.8rem;
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6rem;

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    button {
      padding: 0;
      border: none;
      background: none;
      cursor: pointer;
    }
    #cross {
      margin-left: 2.5rem;
      img {
        width: 2.8rem;
        height: 2.8rem;
      }
    }
    #closeBtn {
      width: 4rem;
    }
  }
}

.pi-question-circle:before {
  color: $blue-color;
  font-size: 3.2rem;
}

.content {
  width: 100%;
  height: 100%;
  margin-top: 2.216rem;
  display: flex;
}

.result__container {
  position: relative;
  width: 56.587rem;
  height: 100%;
  margin-right: 5.369rem;
  display: flex;
  flex-direction: column;

  &-title {
    font-size: 3.2rem;
    margin: 0 0 0.736rem 0;
    color: $blue-color;
  }

  &-result {
    width: 100%;
    height: 31.939rem;
    &-container {
      .carousel-images {
        position: relative;
        height: 35rem;
        margin-bottom: 1rem;
        @media (min-width: 1200px) {
          height: 25rem;
        }

        img {
          width: 100%;
          height: 35rem;
          object-fit: cover;
          border-radius: 0.5rem;
          @media (max-width: 500px) {
            height: 35rem;
          }
          @media (min-width: 1200px) {
            height: 25rem;
          }
        }
      }
      .goalImage {
        position: relative;
        height: 30rem;
        overflow: hidden;
        border: 3px solid $primary-color;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

        @media (min-width: 1200px) {
          height: 25rem;
          margin-top: 3rem;
        }
        img {
          border-radius: 0.5rem;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .radio-group {
    display: flex;
    width: 100%;
    .radio-right-tab {
      border-bottom-right-radius: 1rem;
    }
    .radio-left-tab {
      border-bottom-left-radius: 1rem;
    }
    .radio-left-tab,
    .radio-right-tab {
      cursor: pointer;
      font-size: 2.5rem;
      width: 50%;
      background: $bright-grey-color;
      color: $primary-color;
      padding: 1.2rem;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.score__container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 66.654rem;
  height: 100%;
  padding: 0 0 7rem 0;
  .text-bold {
    font-weight: 400;
    color: $black-color;
  }

  &-feedback {
    margin-top: 6rem;

    &-text {
      font-family: 'Myriad Light';
      font-size: 2.4rem;
      font-weight: 300;
      color: $black-color;
      word-spacing: 0.1rem;
      line-height: 3.2rem;
      margin: 0;
    }
  }

  &-ratings {
    margin-top: 1.2rem;
    flex-grow: 1;

    &-text {
      color: $primary-color;
      font-size: 3.2rem;
    }
  }
}

.bottomContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  right: 0;

  button:not(:last-child) {
    width: 24.5rem;
    margin-right: 1.6rem;
  }
}
#quitBtn {
  width: 27.6rem;
}

::ng-deep .p-dialog-footer {
  display: flex !important;
  justify-content: flex-end;
}
.rowTitle {
  font-family: 'Myriad Regular' !important;
  text-align: left !important;
}
.score {
  font-family: 'Myriad Regular' !important;
}

::ng-deep .pi-star-o:before,
::ng-deep .pi-star:before {
  margin-right: 4.1rem;
}

::ng-deep .pi-star-o:before {
  content: '\e937';
}

::ng-deep .p-rating:not(.p-disabled):not(.p-readonly) .p-rating-icon:hover {
  color: none;
}

::ng-deep .p-rating .p-rating-icon:focus {
  box-shadow: none;
}
::ng-deep .p-rating .p-rating-icon {
  color: $bright-grey-color;
  font-size: 4.2rem;
}

::ng-deep .p-rating .p-rating-icon.pi-star {
  color: $primary-color;
}

::ng-deep .p-rating:not(.p-disabled):not(.p-readonly) .p-rating-icon:hover {
  color: $primary-color;
}
::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  font-family: 'Myriad Light';
  text-align: center;
  font-size: 2rem;
  color: $black-color;
  font-weight: 400;
}

::ng-deep .p-datatable .p-datatable-tbody > tr {
  background: rgba($bright-grey-color, 0.5);
  color: #495057;
  transition: box-shadow 0.2s;
  outline-color: transparent;
}

::ng-deep .p-datatable .p-datatable-thead > tr > th {
  text-align: center;
  padding: 1rem 1rem;
  border: 1px solid transparent;
  border-width: 0 0 1px 0;
  font-size: 2.4rem;
  font-weight: 500;
  color: $primary-color;
  background: transparent;
  transition: box-shadow 0.2s;
}

// Dailog Box CSS

::ng-deep .p-dialog .p-dialog-header .p-dialog-title {
  color: red;
}
::ng-deep .p-dialog-mask.p-component-overlay {
  background-color: rgba(255, 255, 255, 0.66);
}
::ng-deep .p-dialog {
  display: flex;
  flex-direction: column;
  height: 36.2rem;
  position: relative;
  font-family: 'MyriadPro';
  transform: scale(1);
  width: 72.5rem;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border: 0 none;
  padding: 3.4rem 4.3rem;
}

.header {
  font-size: 4rem;
  color: $primary-color;
  font-weight: 500;
}

::ng-deep .p-dialog.p-confirm-dialog .p-confirm-dialog-message {
  font-family: 'Myriad Light';
  margin: 2.8rem 0 0 0;
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 300;
}

::ng-deep .p-dialog .p-dialog-header,
::ng-deep .p-dialog .p-dialog-content,
::ng-deep .p-dialog .p-dialog-footer {
  padding: 0;
}

::ng-deep .p-dialog .p-dialog-footer {
  margin-top: 10rem;

  button {
    width: 24rem;
  }

  button:not(:last-child) {
    margin-right: 1.6rem;
  }
}
