@import '../../../assets/scss/variables';
@import '../../../assets/scss/button';
@import '../../../assets/scss/carousel';
@import '../../../assets/scss/_radiobutton';

.container {
  position: relative;
  width: 100%;
  height: calc(100vh - 11.2rem);
  padding: 0 4rem;

  &__title {
    width: 100%;

    &-text {
      font-size: 4rem;
      font-weight: 400;
      color: $blue-color;
      margin: 4.4rem 0 0 0;
    }
  }
}

.content {
  width: 100%;
  height: calc(100% - 7.2rem);
  margin-top: 2.216rem;
  display: flex;
}

.result__container {
  position: relative;
  width: 56.587rem;
  height: 100%;
  margin-right: 5.369rem;
  display: flex;
  flex-direction: column;

  &-title {
    font-size: 3.2rem;
    margin: 0 0 0.736rem 0;
    color: $blue-color;
  }

  &-result {
    width: 100%;
    height: 31.939rem;
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &-radioGroup {
    display: flex;
    width: 100%;

    @media screen and (min-width: 1200px) {
      margin-top: 0.1rem;
    }
    .radioBtn {
      margin-right: 4.4rem;
    }
  }

  label {
    font-size: 3.2rem;
    margin-left: 1.46rem;
  }
}

.score__container {
  flex-grow: 1;
  width: 66.654rem;
  height: 100%;

  .text-bold {
    font-weight: 600;
    color: $black-color;
  }

  &-feedback {
    margin-top: 9.1rem;

    &-text {
      font-size: 2.4rem;
      font-weight: 400;
      color: $black-color;
      line-height: 3.2rem;
    }
  }

  &-ratings {
    margin-top: 5.2rem;

    &-text {
      color: $primary-color;
      font-size: 3.2rem;
    }
  }
}

::ng-deep .p-rating .p-rating-icon {
  color: $bright-grey-color;
  font-size: 4.2rem;
}

::ng-deep .p-rating .p-rating-icon.pi-star {
  color: $primary-color;
}

::ng-deep .p-rating:not(.p-disabled):not(.p-readonly) .p-rating-icon:hover {
  color: $primary-color;
}
::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  font-size: 2.4rem;
  color: $black-color;
  font-weight: 400;
}
::ng-deep .p-rating-icon pi pi-star-o {
  color: blueviolet;
}

::ng-deep .p-datatable .p-datatable-tbody > tr {
  background: rgba($bright-grey-color, 0.5);
  color: #495057;
  transition: box-shadow 0.2s;
  outline-color: transparent;
}

::ng-deep .p-datatable .p-datatable-thead > tr > th {
  text-align: left;
  padding: 1rem 1rem;
  border: 1px solid transparent;
  border-width: 0 0 1px 0;
  font-weight: 600;
  font-size: 2.4rem;
  color: $primary-color;
  background: transparent;
  transition: box-shadow 0.2s;
}

.bottomContainer {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  bottom: 4rem;
  width: 100%;
  right: 0;
  padding: 0 4rem;

  button:not(:last-child) {
    margin-right: 1.6rem;
  }
}
