<div class="main-container">
  <div class="logo">
    <div class="logo__items">
      <img src="../../../assets/images/v.png" alt="" />
      <img src="../../../assets/images/i.png" alt="" />
      <img src="../../../assets/images/r.png" alt="" />
      <img src="../../../assets/images/t.png" alt="" />
      <img src="../../../assets/images/a.png" alt="" />
      <img src="../../../assets/images/m.png" alt="" />
      <img src="../../../assets/images/e.png" alt="" />
      <img src="../../../assets/images/d.png" alt="" />

      <div class="logo__items--plus">
        <img src="../../../assets/images/plus-bg.png" alt="" />
        <img src="../../../assets/images/plus.png" alt="" />
      </div>
    </div>
  </div>

  <div class="header">
    <div class="header__left">
      <span class="header__left--text">Boxtrainer</span>
    </div>
    <div class="header__right">
      <span class="header__right--text">Suturing Basics 1 - Knots</span>
    </div>
  </div>

  <div class="loading__bar">
    <div class="loading__bar--fill"></div>
  </div>
</div>
