<div class="chooseScreenshot">
  <div class="header">
    <app-header></app-header>
  </div>

  <div class="carousel-images">
    <p-carousel [value]="items" [numVisible]="1">
      <ng-template let-item pTemplate="item" class="kkk">
        <img
          style="height: 100%"
          [src]="item.picture"
          class="screenShotImage"
        />
      </ng-template>
    </p-carousel>
  </div>

  <div class="chooseScreenshot__bottom">
    <div class="chooseScreenshot__bottom--text">
      <p>{{ 'chooseScreenshot.chooseResult' | translate }}</p>
    </div>

    <div class="chooseScreenshot__bottom--group">
      <button
        class="button button-exSmall button-outline"
        (click)="backToScreenShot()"
      >
        <i class="pi pi-chevron-left"></i>
      </button>
      <button class="button button-big button-fill" (click)="redirectTo()">
        {{ 'chooseScreenshot.chooseBtn' | translate }}
      </button>
    </div>
  </div>
</div>
