<div class="header">
  <app-header
    [onFinishRecording]="recording"
    (show)="slibar()"
    (cancelExe)="onCancelExersice()"
  ></app-header>
</div>

<p-dialog
  styleClass="assessment-image"
  [(visible)]="display"
  [style]="{ height: 'auto', width: 'auto' }"
  [modal]="true"
  [dismissableMask]="true"
>
  <img [src]="popupImageUrl" alt="resultImage" />
</p-dialog>
<div class="container">
  <div class="container__title">
    <p
      class="container__title-text"
      [ngStyle]="{
        color: branding?.generalConfig?.contentTitle?.color
          ? branding?.generalConfig?.contentTitle?.color
          : '',
        fontFamily: branding?.generalConfig?.contentTitle?.fontFamily
          ? branding?.generalConfig?.contentTitle?.fontFamily
          : '',
        fontWeight: branding?.generalConfig?.contentTitle?.fontWeight
          ? branding?.generalConfig?.contentTitle?.fontWeight
          : '',
        fontSize: branding?.generalConfig?.contentTitle?.fontSize
          ? branding?.generalConfig?.contentTitle?.fontSize
          : ''
      }"
    >
      {{ 'selfassesment.title' | translate }}
    </p>
    <p
      class="container__title-message m-0"
      [ngStyle]="{
        color: branding?.generalConfig?.actionText?.color
          ? branding?.generalConfig?.actionText?.color
          : '',
        fontFamily: branding?.generalConfig?.actionText?.fontFamily
          ? branding?.generalConfig?.actionText?.fontFamily
          : '',
        fontWeight: branding?.generalConfig?.actionText?.fontWeight
          ? branding?.generalConfig?.actionText?.fontWeight
          : '',
        fontSize: branding?.generalConfig?.actionText?.fontSize
          ? branding?.generalConfig?.actionText?.fontSize
          : ''
      }"
    >
      {{ 'selfassesment.message' | translate }}
      <span class="learnMoreText" (click)="sidebarOpenData($event)"
        >Learn more <i class="pi pi-question-circle"></i
      ></span>
    </p>
  </div>

  <div class="selfassesment__result">
    <div class="selfassesment__result-image">
      <p
        class="selfassesment__result-title"
        [ngStyle]="{
          color: branding?.generalConfig?.contentText?.color
            ? branding?.generalConfig?.contentText?.color
            : '',
          fontFamily: branding?.generalConfig?.contentText?.fontFamily
            ? branding?.generalConfig?.contentText?.fontFamily
            : '',
          fontWeight: branding?.generalConfig?.contentText?.fontWeight
            ? branding?.generalConfig?.contentText?.fontWeight
            : '',
          fontSize: branding?.generalConfig?.contentText?.fontSize
            ? branding?.generalConfig?.contentText?.fontSize
            : ''
        }"
      >
        {{ 'selfassesment.resultTitle' | translate }}
      </p>

      <div class="selfassesment__result-content">
        <img
          [src]="resultImage"
          (click)="showDialog(resultImage)"
          alt="resultImage"
        />
      </div>
    </div>

    <div class="selfassesment__result-choise">
      <p
        class="selfassesment__result-title"
        [ngStyle]="{
          color: branding?.generalConfig?.contentText?.color
            ? branding?.generalConfig?.contentText?.color
            : '',
          fontFamily: branding?.generalConfig?.contentText?.fontFamily
            ? branding?.generalConfig?.contentText?.fontFamily
            : '',
          fontWeight: branding?.generalConfig?.contentText?.fontWeight
            ? branding?.generalConfig?.contentText?.fontWeight
            : '',
          fontSize: branding?.generalConfig?.contentText?.fontSize
            ? branding?.generalConfig?.contentText?.fontSize
            : ''
        }"
      >
        {{ 'selfassesment.choice' | translate }}
      </p>

      <div class="selfassesment__result-content carousel-div">
        <div class="carousel-images">
          <p-carousel
            (touchmove)="this.utility.iosScrollDis($event)"
            [value]="screenShots"
            [circular]="true"
            [numVisible]="1"
            [page]="selectedPage"
            [numScroll]="1"
            effect="fade"
            [responsiveOptions]
            (onPage)="setPage($event)"
          >
            <ng-template let-item pTemplate="item" let-i="index">
              <img
                style="height: 100%"
                [src]="item.url"
                class="screenShotImage"
                [title]="item?.hint"
                id="index"
                (click)="showDialog(item.url)"
                alt="screenShot-Image"
              />
            </ng-template>
          </p-carousel>
        </div>
      </div>

      <div class="imagessss">
        <div *ngFor="let item of screenShots; let i = index">
          <img
            [src]="item.url"
            alt="screenShot-thumbnails"
            (click)="active(i)"
            class="p"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="bottomContainer">
    <button
      class="button button-small button-fill"
      type="button"
      (click)="redirectTo()"
      [ngStyle]="{
        background: branding?.generalConfig?.buttonFill?.backGround
          ? branding?.generalConfig?.buttonFill?.backGround
          : '',
        border: branding?.generalConfig?.buttonFill?.border
          ? branding?.generalConfig?.buttonFill?.border
          : '',
        color: branding?.generalConfig?.buttonFillText?.color
          ? branding?.generalConfig?.buttonFillText?.color
          : '',
        fontFamily: branding?.generalConfig?.buttonFillText?.fontFamily
          ? branding?.generalConfig?.buttonFillText?.fontFamily
          : '',
        fontWeight: branding?.generalConfig?.buttonFillText?.fontWeight
          ? branding?.generalConfig?.buttonFillText?.fontWeight
          : '',
        fontSize: branding?.generalConfig?.buttonFillText?.fontSize
          ? branding?.generalConfig?.buttonFillText?.fontSize
          : '',
        borderRadius: branding?.generalConfig?.buttonFill?.borderRadius
          ? branding?.generalConfig?.buttonFill?.borderRadius
          : ''
      }"
    >
      {{ 'selfassesment.next' | translate }}
    </button>
  </div>
</div>
<div [innerHTML]="myStyle"></div>
<div
  class="sidebar"
  #sidenav
  *ngIf="sidebarOpen || sidebarOpenText"
  @fadeAnimation
>
  <div class="sidebarHeader">
    <button class="closed" (click)="closeSidebar()">
      <img src="assets/icnons/close.png" alt="closebtn" id="closedBtn" />
    </button>
    <button class="close" (click)="confirm()">
      <i class="pi pi-times" alt="cross"></i>
    </button>
  </div>

  <div class="sidebar__header">
    <img src="assets/images/logo.svg" alt="logo" />
  </div>

  <div
    class="sidebar__content"
    id="sidebar__content"
    *ngIf="appData"
    [innerHTML]="appData?.descriptionItems[3]?.content"
  ></div>
</div>

<p-confirmDialog header="Confirmation" #cd>
  <ng-template pTemplate="header">
    <p
      class="header m-0"
      [ngStyle]="{
        color: branding?.generalConfig?.contentTitle?.color
          ? branding?.generalConfig?.contentTitle?.color
          : '',
        fontFamily: branding?.generalConfig?.contentTitle?.fontFamily
          ? branding?.generalConfig?.contentTitle?.fontFamily
          : '',
        fontWeight: branding?.generalConfig?.contentTitle?.fontWeight
          ? branding?.generalConfig?.contentTitle?.fontWeight
          : '',
        fontSize: branding?.generalConfig?.contentTitle?.fontSize
          ? branding?.generalConfig?.contentTitle?.fontSize
          : ''
      }"
    >
      {{ 'selfassesment.quitExe' | translate }}
    </p>
  </ng-template>
  <ng-template pTemplate="footer" class="footer">
    <button
      class="button button-small button-outline"
      type="button"
      (click)="cd.reject()"
      [ngStyle]="{
        background: branding?.generalConfig?.buttonOutline?.backGround
          ? branding?.generalConfig?.buttonOutline?.backGround
          : '',
        border: branding?.generalConfig?.buttonOutline?.border
          ? branding?.generalConfig?.buttonOutline?.border
          : '',
        color: branding?.generalConfig?.buttonOutlineText?.color
          ? branding?.generalConfig?.buttonOutlineText?.color
          : '',
        fontFamily: branding?.generalConfig?.buttonOutlineText?.fontFamily
          ? branding?.generalConfig?.buttonOutlineText?.fontFamily
          : '',
        fontWeight: branding?.generalConfig?.buttonOutlineText?.fontWeight
          ? branding?.generalConfig?.buttonOutlineText?.fontWeight
          : '',
        fontSize: branding?.generalConfig?.buttonOutlineText?.fontSize
          ? branding?.generalConfig?.buttonOutlineText?.fontSize
          : '',
        borderRadius: branding?.generalConfig?.buttonOutline?.borderRadius
          ? branding?.generalConfig?.buttonOutline?.borderRadius
          : ''
      }"
    >
      {{ 'selfassesment.goback' | translate }}
    </button>

    <button
      class="button button-small button-fill"
      type="button"
      (click)="cd.accept()"
      [ngStyle]="{
        background: branding?.generalConfig?.buttonFill?.backGround
          ? branding?.generalConfig?.buttonFill?.backGround
          : '',
        border: branding?.generalConfig?.buttonFill?.border
          ? branding?.generalConfig?.buttonFill?.border
          : '',
        color: branding?.generalConfig?.buttonFillText?.color
          ? branding?.generalConfig?.buttonFillText?.color
          : '',
        fontFamily: branding?.generalConfig?.buttonFillText?.fontFamily
          ? branding?.generalConfig?.buttonFillText?.fontFamily
          : '',
        fontWeight: branding?.generalConfig?.buttonFillText?.fontWeight
          ? branding?.generalConfig?.buttonFillText?.fontWeight
          : '',
        fontSize: branding?.generalConfig?.buttonFillText?.fontSize
          ? branding?.generalConfig?.buttonFillText?.fontSize
          : '',
        borderRadius: branding?.generalConfig?.buttonFill?.borderRadius
          ? branding?.generalConfig?.buttonFill?.borderRadius
          : ''
      }"
    >
      {{ 'selfassesment.quit' | translate }}
    </button>
  </ng-template>
</p-confirmDialog>
