<div class="header">
  <app-header
    [onFinishRecording]="recording"
    (show)="slibar()"
    (cancelExe)="onCancelExersice()"
  ></app-header>
</div>
<div [innerHTML]="myStyle"></div>
<p-dialog
  styleClass="assessment-image"
  [(visible)]="display"
  [style]="{ height: 'auto', width: '800px' }"
  [modal]="true"
  [dismissableMask]="true"
  *ngIf="display"
>
  <img [src]="popupImageUrl" *ngIf="!popupImageUrl.length" alt="resultImage" />
  <p-carousel
    (touchmove)="this.utility.iosScrollDis($event)"
    [value]="popupImageUrl"
    [circular]="true"
    [numVisible]="1"
    [numScroll]="1"
    effect="fade"
    [responsiveOptions]
    *ngIf="popupImageUrl.length > 0"
    (onPage)="setPage($event)"
    [page]="selectedPage"
  >
    <ng-template let-img pTemplate="img" let-i="index">
      <img
        style="height: 100%"
        [src]="img.url"
        class="screenShotImage"
        alt="screenShot-Image"
      />
    </ng-template>
  </p-carousel>
</p-dialog>
<div class="container">
  <div class="container__title">
    <p
      class="container__title-text"
      [ngStyle]="{
        color: branding?.contentTitle?.color
          ? branding?.contentTitle?.color
          : '',
        fontFamily: branding?.contentTitle?.fontFamily
          ? branding?.contentTitle?.fontFamily
          : '',
        fontWeight: branding?.contentTitle?.fontWeight
          ? branding?.contentTitle?.fontWeight
          : '',
        fontSize: branding?.contentTitle?.fontSize
          ? branding?.contentTitle?.fontSize
          : ''
      }"
    >
      {{ 'selfassesment.title' | translate }}
    </p>
    <p
      class="container__title-message m-0"
      [ngStyle]="{
        color: branding?.actionText?.color ? branding?.actionText?.color : '',
        fontFamily: branding?.actionText?.fontFamily
          ? branding?.actionText?.fontFamily
          : '',
        fontWeight: branding?.actionText?.fontWeight
          ? branding?.actionText?.fontWeight
          : '',
        fontSize: branding?.actionText?.fontSize
          ? branding?.actionText?.fontSize
          : ''
      }"
    >
      {{ 'selfassesment.message' | translate }}
      <span class="learnMoreText" (click)="sidebarOpenData($event)"
        >Learn more <i class="pi pi-question-circle"></i
      ></span>
    </p>
  </div>

  <div class="selfassesment__result">
    <div class="selfassesment__result-image">
      <p
        class="selfassesment__result-title"
        [ngStyle]="{
          color: branding?.subHeader?.color ? branding?.subHeader?.color : '',
          fontFamily: branding?.subHeader?.fontFamily
            ? branding?.subHeader?.fontFamily
            : '',
          fontWeight: branding?.subHeader?.fontWeight
            ? branding?.subHeader?.fontWeight
            : '',
          fontSize: branding?.subHeader?.fontSize
            ? branding?.subHeader?.fontSize
            : ''
        }"
      >
        {{ 'selfassesment.resultTitle' | translate }}
      </p>

      <div class="selfassesment__result-content">
        <img
          [src]="resultImage"
          (click)="showDialog(resultImage,1)"
          alt="resultImage"
        />
      </div>
    </div>

    <div class="selfassesment__result-choise">
      <p
        class="selfassesment__result-title"
        [ngStyle]="{
          color: branding?.subHeader?.color ? branding?.subHeader?.color : '',
          fontFamily: branding?.subHeader?.fontFamily
            ? branding?.subHeader?.fontFamily
            : '',
          fontWeight: branding?.subHeader?.fontWeight
            ? branding?.subHeader?.fontWeight
            : '',
          fontSize: branding?.subHeader?.fontSize
            ? branding?.subHeader?.fontSize
            : ''
        }"
      >
        {{ 'selfassesment.choice' | translate }}
      </p>

      <div class="selfassesment__result-content carousel-div">
        <div class="carousel-images">
          <p-carousel
            (touchmove)="this.utility.iosScrollDis($event)"
            [value]="screenShots"
            [circular]="true"
            [numVisible]="1"
            [page]="selectedPage"
            [numScroll]="1"
            effect="fade"
            [responsiveOptions]
            (onPage)="setPage($event)"
          >
            <ng-template let-item pTemplate="item" let-i="index">
              <img
                style="height: 100%"
                [src]="item.url"
                class="screenShotImage"
                [title]="item?.hint"
                id="index"
                (click)="showDialog(screenShots,item)"
                alt="screenShot-Image"
              />
            </ng-template>
          </p-carousel>
        </div>
      </div>

      <div class="imagessss">
        <div *ngFor="let item of screenShots; let i = index">
          <img
            [src]="item.url"
            alt="screenShot-thumbnails"
            (click)="active(i)"
            class="p"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="bottomContainer">
    <button
      class="button button-small button-fill"
      type="button"
      (click)="redirectTo()"
      [ngStyle]="{
        background: branding?.buttonFill?.backGround
          ? branding?.buttonFill?.backGround
          : '',
        border: branding?.buttonFill?.border
          ? branding?.buttonFill?.border
          : '',
        color: branding?.buttonFillText?.color
          ? branding?.buttonFillText?.color
          : '',
        fontFamily: branding?.buttonFillText?.fontFamily
          ? branding?.buttonFillText?.fontFamily
          : '',
        fontWeight: branding?.buttonFillText?.fontWeight
          ? branding?.buttonFillText?.fontWeight
          : '',
        fontSize: branding?.buttonFillText?.fontSize
          ? branding?.buttonFillText?.fontSize
          : '',
        borderRadius: branding?.buttonFill?.borderRadius
          ? branding?.buttonFill?.borderRadius
          : ''
      }"
    >
      {{ 'selfassesment.next' | translate }}
    </button>
  </div>
</div>

<div
  class="sidebar"
  #sidenav
  *ngIf="sidebarOpen || sidebarOpenText"
  @fadeAnimation
>
  <div class="sidebarHeader">
    <button class="closed" (click)="closeSidebar()">
      <img src="assets/{{ brand }}/close.png" alt="closebtn" id="closedBtn" />
    </button>
    <button class="close" (click)="confirm()">
      <i
        class="pi pi-times"
        alt="cross"
        [ngStyle]="{
          color: branding?.sidebarTitle?.iconColor
        }"
      ></i>
    </button>
  </div>

  <div class="sidebar__header">
    <img src="assets/images/logo.svg" alt="logo" />
  </div>

  <div
    class="sidebar__content"
    id="sidebar__content"
    *ngIf="appData"
    [innerHTML]="appData?.descriptionItems[3]?.content"
  ></div>
</div>

<p-confirmDialog header="Confirmation" #cd>
  <ng-template pTemplate="header">
    <p
      class="header m-0"
      [ngStyle]="{
        color: branding?.confirmationDialogTitle?.color
          ? branding?.confirmationDialogTitle?.color
          : '',
        fontFamily: branding?.confirmationDialogTitle?.fontFamily
          ? branding?.confirmationDialogTitle?.fontFamily
          : '',
        fontWeight: branding?.confirmationDialogTitle?.fontWeight
          ? branding?.confirmationDialogTitle?.fontWeight
          : '',
        fontSize: branding?.confirmationDialogTitle?.fontSize
          ? branding?.confirmationDialogTitle?.fontSize
          : ''
      }"
    >
      {{ 'selfassesment.quitExe' | translate }}
    </p>
  </ng-template>
  <ng-template pTemplate="footer" class="footer">
    <button
      class="button button-small button-outline"
      type="button"
      (click)="cd.reject()"
      [ngStyle]="{
        background: branding?.buttonOutline?.backGround
          ? branding?.buttonOutline?.backGround
          : '',
        border: branding?.buttonOutline?.border
          ? branding?.buttonOutline?.border
          : '',
        color: branding?.buttonOutlineText?.color
          ? branding?.buttonOutlineText?.color
          : '',
        fontFamily: branding?.buttonOutlineText?.fontFamily
          ? branding?.buttonOutlineText?.fontFamily
          : '',
        fontWeight: branding?.buttonOutlineText?.fontWeight
          ? branding?.buttonOutlineText?.fontWeight
          : '',
        fontSize: branding?.buttonOutlineText?.fontSize
          ? branding?.buttonOutlineText?.fontSize
          : '',
        borderRadius: branding?.buttonOutline?.borderRadius
          ? branding?.buttonOutline?.borderRadius
          : ''
      }"
    >
      {{ 'selfassesment.goback' | translate }}
    </button>

    <button
      class="button button-small button-fill"
      type="button"
      (click)="cd.accept()"
      [ngStyle]="{
        background: branding?.buttonFill?.backGround
          ? branding?.buttonFill?.backGround
          : '',
        border: branding?.buttonFill?.border
          ? branding?.buttonFill?.border
          : '',
        color: branding?.buttonFillText?.color
          ? branding?.buttonFillText?.color
          : '',
        fontFamily: branding?.buttonFillText?.fontFamily
          ? branding?.buttonFillText?.fontFamily
          : '',
        fontWeight: branding?.buttonFillText?.fontWeight
          ? branding?.buttonFillText?.fontWeight
          : '',
        fontSize: branding?.buttonFillText?.fontSize
          ? branding?.buttonFillText?.fontSize
          : '',
        borderRadius: branding?.buttonFill?.borderRadius
          ? branding?.buttonFill?.borderRadius
          : ''
      }"
    >
      {{ 'selfassesment.quit' | translate }}
    </button>
  </ng-template>
</p-confirmDialog>
