<div class="header">
  <app-header
    [onFinishRecording]="recording"
    (show)="slibar()"
    (cancelExe)="onCancelExersice()"
  ></app-header>
</div>

<div class="container">
  <div class="container__title">
    <p class="container__title-text">{{ 'selfassesment.title' | translate }}</p>
    <p class="container__title-message m-0">
      {{ 'selfassesment.message' | translate }}
      <span class="learnMoreText" (click)="sidebarOpenData($event)"
        >Learn more <i class="pi pi-question-circle"></i
      ></span>
    </p>
  </div>

  <div class="selfassesment__result">
    <div class="selfassesment__result-image">
      <p class="selfassesment__result-title">
        {{ 'selfassesment.resultTitle' | translate }}
      </p>

      <div class="selfassesment__result-content">
        <img [src]="resultImage" alt="resultImage" />
      </div>
    </div>

    <div class="selfassesment__result-choise">
      <p class="selfassesment__result-title">
        {{ 'selfassesment.choice' | translate }}
      </p>

      <div class="selfassesment__result-content carousel-div">
        <div class="carousel-images">
          <p-carousel
            (touchmove)="this.utility.iosScrollDis($event)"
            [value]="screenShots"
            [numVisible]="1"
            [page]="selectedPage"
            [numScroll]="1"
            effect="fade"
            [responsiveOptions]
            (onPage)="setPage($event)"
          >
            <ng-template let-item pTemplate="item" let-i="index">
              <img
                style="height: 100%"
                [src]="item.url"
                class="screenShotImage"
                [title]="item?.hint"
                id="index"
              />
            </ng-template>
          </p-carousel>
        </div>
      </div>

      <div class="imagessss">
        <div *ngFor="let item of screenShots; let i = index">
          <img [src]="item.url" alt="" (click)="active(i)" class="p" />
        </div>
      </div>
    </div>
  </div>

  <div class="bottomContainer">
    <button
      class="button button-small button-fill"
      type="button"
      (click)="redirectTo()"
    >
      {{ 'selfassesment.next' | translate }}
    </button>
  </div>
</div>

<div
  class="sidebar"
  #sidenav
  *ngIf="sidebarOpen || sidebarOpenText"
  @fadeAnimation
>
  <div class="sidebarHeader">
    <button class="closed" (click)="closeSidebar()">
      <img src="assets/icnons/close.png" alt="closebtn" id="closedBtn" />
    </button>
    <button class="close" (click)="confirm()">
      <i class="pi pi-times" alt="cross"></i>
    </button>
  </div>

  <div class="sidebar__header">
    <img src="assets/images/logo.svg" alt="logo" />
  </div>

  <div
    class="sidebar__content"
    id="sidebar__content"
    *ngIf="appData"
    [innerHTML]="appData?.case?.descriptionItems[3]?.content"
  ></div>
</div>

<p-confirmDialog header="Confirmation" #cd>
  <ng-template pTemplate="header">
    <p class="header m-0">{{ 'selfassesment.quitExe' | translate }}</p>
  </ng-template>
  <ng-template pTemplate="footer" class="footer">
    <button
      class="button button-small button-outline"
      type="button"
      (click)="cd.reject()"
    >
      {{ 'selfassesment.goback' | translate }}
    </button>

    <button
      class="button button-small button-fill"
      type="button"
      (click)="cd.accept()"
    >
      {{ 'selfassesment.quit' | translate }}
    </button>
  </ng-template>
</p-confirmDialog>
