@import '../assets/scss/variables';
@import '../assets/scss/mixin';

.rightReserved {
  @include reservedText;
  bottom: 1.2rem;
}

.rightReservedTop {
  color: $white-color !important;
  transform: translateY(-1.2rem);
}
