<div class="header top">
  <app-header
    [onFinishRecording]="recording"
    [videoScreen]="isVideoScreen"
    (cancelExe)="onCancelExersice()"
  ></app-header>
</div>
<p-progressSpinner *ngIf="isVideoLoaded"></p-progressSpinner>
<div class="container">
  <div class="videoContainer" id="video-holder">
    <!-- src="assets/video/video.mp4#t=0.001" -->
    <!-- <video src="" #video id="myvideo" type="video/mp4" preload="auto"></video> -->
  </div>

  <div class="bottomContainer">
    <div class="buttons">
      <div class="playedBtn">
        <button class="playPauseBtn" (click)="PlayVideo()" *ngIf="playVideo">
          <img
            src="assets/icnons/pause-solid.svg"
            alt="pause"
            class="icon pause"
            id="playpause"
          />
        </button>
        <button class="playPauseBtn" (click)="PauseVideo()" *ngIf="!playVideo">
          <img
            src="assets/icnons/play-solid.svg"
            alt="play"
            class="icon"
            id="playpause"
          />
        </button>
      </div>

      <div class="buttonGroup">
        <button
          class="button button-exSmall button-outline"
          (click)="redirectToBack()"
        >
          <i class="pi pi-chevron-left"></i>
        </button>
        <button class="button button-small button-fill" (click)="redirectTo()">
          {{ 'video.prepareSetup' | translate }}
        </button>
      </div>
    </div>
  </div>

  <div class="footer" [ngClass]="{ footerAnimation: videoFullScreen }">
    <div class="progressbar" id="seekbar">
      <div class="progressbar-color" id="progressBar"></div>
    </div>

    <div class="footer__text">
      <p class="footer__text-bold m-0">{{ 'video.title' | translate }}</p>
      <p class="footer__text-light m-0">{{ 'video.name' | translate }}</p>
    </div>
  </div>

  <p
    class="rightReserved m-0"
    [ngClass]="{ rightReservedTop: videoFullScreen }"
  >
    {{ 'home.rightReserved' | translate }}
  </p>

  <div class="logo" [ngClass]="{ logoTop: videoFullScreen }">
    <img src="assets/images/Logo2.svg" alt="logo" />
  </div>

  <div class="slider" *ngIf="!videoFullScreen" @fadeAnimation>
    <img
      *ngIf="!isMuted"
      src="../../../assets/icnons/volume.svg"
      (click)="muteVolume()"
      alt=""
      id="speaker"
    />
    <img
      *ngIf="isMuted"
      src="../../../assets/icnons/mute.svg"
      (click)="unMuteVolume()"
      alt=""
      id="speakerMute"
    />
    <p-slider
      [(ngModel)]="val"
      [min]="0"
      [max]="100"
      [step]="10"
      class="slideBar"
      (ngModelChange)="volumeChanged($event)"
    ></p-slider>
  </div>
</div>

<p-confirmDialog header="Confirmation" #cd>
  <ng-template pTemplate="header">
    <p class="header m-0">{{ 'video.quitExe' | translate }}</p>
  </ng-template>
  <ng-template pTemplate="footer" class="footer">
    <button
      class="button button-small button-outline"
      type="button"
      (click)="cd.reject()"
    >
      {{ 'video.goback' | translate }}
    </button>

    <button
      class="button button-small button-fill"
      type="button"
      (click)="cd.accept()"
    >
      {{ 'video.quit' | translate }}
    </button>
  </ng-template>
</p-confirmDialog>
