@import '../../../assets/scss/variables';

.header {
  display: flex;
  height: 6.4rem;

  @media screen and (max-width: 600px) {
    height: 3.4rem;
  }

  &__left {
    width: 8911.4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px;
    background: $blue-color;
    opacity: 0.9;
    margin-right: -3.7%;
    clip-path: polygon(0 0%, 100% 0%, 94.5% 100%, 0% 100%);
    padding-left: 4rem;

    &--text {
      display: block;
      font-size: 3.2rem;
      color: $white-color;
      margin: 0;
    }

    &--duration {
      display: flex;
      align-items: center;
      font-size: 2.4rem;
      padding-right: 6.5rem;

      &-icon {
        color: $primary-color;
        font-size: inherit;
        padding-right: 1rem;

        @media screen and (max-width: 600px) {
          display: none;
        }
      }

      &-time {
        color: $white-color;

        @media screen and (max-width: 600px) {
          display: none;
        }
      }
    }
  }

  &__right {
    width: 5514.8%;
    border-radius: 0px;
    flex-grow: 1;
    background: $element-grey-color;
    opacity: 0.8;
    clip-path: polygon(9% 0, 100% 0%, 100% 100%, 0 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--icons {
      display: flex;
      align-items: center;
      padding-left: 6rem;
      justify-content: space-between;

      &-group {
        display: flex;
        align-items: center;
        margin-right: 2.8rem;

        #mic {
          margin-right: 1.2rem;
          width: 2.5rem;
        }
        #flash {
          margin-right: 1.2rem;
          width: 2.2rem;
        }

        #fullscreen {
          width: 2.8rem;
        }

        .pi-arrow-left:before {
          content: '\e91a';
          color: $white-color;
          font-size: 3rem;
          border-left: 1px solid $white-color;
        }
      }
    }
  }
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
