<div class="recording">
  <div class="header">
    <app-header
      [onFinishRecording]="recording"
      [ontakeScreenshot]="!takeScreenshot"
      (show)="onSlidebarOpen($event)"
      [checkedMic]="micCheckedValue"
      [checkedFlash]="flashCheckedValue"
      (cancelExe)="onCancelExersice()"
    ></app-header>
  </div>

  <!-- <div class="videoPreview" *ngIf="videoSource && recordingFinish">
    <video [src]="videoSource" playsinline controls #videoPreview></video>
    <button class="close" (click)="redirectToPhoto()">X</button>
  </div> -->

  <div class="recording__logo">
    <img src="assets/{{ brand }}/{{ branding?.waterMarkUrl }}" alt="logo" />
  </div>

  <div class="recording__video">
    <div id="circlePopup" #circlePopup class="circlePopup"> Hello </div>
    <video id="video" class="video" autoplay playsinline muted #video></video>
    <canvas id="videoFrame" class="videoFrame" #videoFrame></canvas>
  </div>

  <div class="counter" *ngIf="counterTime">
    <img
      src="../../../assets/images/Animation.apng?ver={{ randomNum }}"
      alt=""
    />
    <!-- <p class="m-0">{{ counter }}</p> -->
  </div>

  <canvas
    #canvas
    class="canvas"
    id="canvas"
    width="640"
    height="480"
    [ngClass]="{ zoomOutBottom: isScreenShot }"
    [ngStyle]="{ visibility: isScreenShot ? 'visible' : 'hidden' }"
  ></canvas>
  <div class="recording__button">
    <div class="recording__button--btnGroups">
      <button type="button" class="recordingBtn" (click)="confirm()">
        <img
          src="assets/{{ brand }}/stopbutton.png"
          alt="camera-icon"
          class="btnIcon"
        />
      </button>

      <button
        type="button"
        class="recordingBtn cameraBtn"
        (click)="takescreenshot()"
        [disabled]="!paddingClass"
      >
        <img
          src="assets/{{ brand }}/camera.png"
          alt="camera-icon"
          class="btnIcon"
        />
      </button>
    </div>

    <div class="recording__button--finish">
      <button
        type="button"
        class="button button-big button-fill"
        (click)="onFinish()"
        [disabled]="!paddingClass"
        [ngStyle]="{
          background: branding?.buttonFill?.backGround
            ? branding?.buttonFill?.backGround
            : '',
          border: branding?.buttonFill?.border
            ? branding?.buttonFill?.border
            : '',
          color: branding?.buttonFillText?.color
            ? branding?.buttonFillText?.color
            : '',
          fontFamily: branding?.buttonFillText?.fontFamily
            ? branding?.buttonFillText?.fontFamily
            : '',
          fontWeight: branding?.buttonFillText?.fontWeight
            ? branding?.buttonFillText?.fontWeight
            : '',
          fontSize: branding?.buttonFillText?.fontSize
            ? branding?.buttonFillText?.fontSize
            : '',
          borderRadius: branding?.buttonFill?.borderRadius
            ? branding?.buttonFill?.borderRadius
            : ''
        }"
      >
        {{ 'recordingPage.finishRecording' | translate }}
      </button>
    </div>
  </div>
</div>
<div [innerHTML]="myStyle"></div>
<div
  class="sidebar recording-sidebar"
  #sidenav
  *ngIf="isSidebarOpen"
  @fadeAnimation
>
  <div class="sidebar__header">
    <button type="button" (click)="onSlidebarClose()">
      <img src="assets/{{ brand }}/close.png" alt="closebtn" id="closeBtn" />
    </button>

    <div>
      <button type="button" class="button" id="cross">
        <i
          class="pi pi-times"
          (click)="confirm()"
          alt="cross"
          [ngStyle]="{
            color: branding?.sidebarTitle?.iconColor
          }"
        ></i>
      </button>
    </div>
  </div>

  <div
    class="sidebar__content"
    id="sidebar__content"
    *ngIf="appData"
    [innerHTML]="appData?.descriptionItems[2]?.content"
  ></div>
</div>

<p-confirmDialog header="Confirmation" #cd>
  <ng-template pTemplate="header">
    <p
      class="header m-0"
      [ngStyle]="{
        color: branding?.confirmationDialogTitle?.color
          ? branding?.confirmationDialogTitle?.color
          : '',
        fontFamily: branding?.confirmationDialogTitle?.fontFamily
          ? branding?.confirmationDialogTitle?.fontFamily
          : '',
        fontWeight: branding?.confirmationDialogTitle?.fontWeight
          ? branding?.confirmationDialogTitle?.fontWeight
          : '',
        fontSize: branding?.confirmationDialogTitle?.fontSize
          ? branding?.confirmationDialogTitle?.fontSize
          : ''
      }"
    >
      {{ 'recordingPage.quitExe' | translate }}
    </p>
  </ng-template>
  <ng-template pTemplate="footer" class="footer">
    <button
      class="button button-small button-outline"
      type="button"
      (click)="cd.reject()"
      [ngStyle]="{
        background: branding?.buttonOutline?.backGround
          ? branding?.buttonOutline?.backGround
          : '',
        border: branding?.buttonOutline?.border
          ? branding?.buttonOutline?.border
          : '',
        color: branding?.buttonOutlineText?.color
          ? branding?.buttonOutlineText?.color
          : '',
        fontFamily: branding?.buttonOutlineText?.fontFamily
          ? branding?.buttonOutlineText?.fontFamily
          : '',
        fontWeight: branding?.buttonOutlineText?.fontWeight
          ? branding?.buttonOutlineText?.fontWeight
          : '',
        fontSize: branding?.buttonOutlineText?.fontSize
          ? branding?.buttonOutlineText?.fontSize
          : '',
        borderRadius: branding?.buttonOutline?.borderRadius
          ? branding?.buttonOutline?.borderRadius
          : ''
      }"
    >
      {{ 'setup.goback' | translate }}
    </button>

    <button
      class="button button-small button-fill"
      type="button"
      (click)="cd.accept()"
      [ngStyle]="{
        background: branding?.buttonFill?.backGround
          ? branding?.buttonFill?.backGround
          : '',
        border: branding?.buttonFill?.border
          ? branding?.buttonFill?.border
          : '',
        color: branding?.buttonFillText?.color
          ? branding?.buttonFillText?.color
          : '',
        fontFamily: branding?.buttonFillText?.fontFamily
          ? branding?.buttonFillText?.fontFamily
          : '',
        fontWeight: branding?.buttonFillText?.fontWeight
          ? branding?.buttonFillText?.fontWeight
          : '',
        fontSize: branding?.buttonFillText?.fontSize
          ? branding?.buttonFillText?.fontSize
          : '',
        borderRadius: branding?.buttonFill?.borderRadius
          ? branding?.buttonFill?.borderRadius
          : ''
      }"
    >
      {{ 'recordingPage.quit' | translate }}
    </button>
  </ng-template>
</p-confirmDialog>
