<div class="recording">
  <div class="header">
    <app-header
      [onFinishRecording]="recording"
      [ontakeScreenshot]="!takeScreenshot"
      (show)="onSlidebarOpen($event)"
      [checkedMic]="micCheckedValue"
      [checkedFlash]="flashCheckedValue"
      (cancelExe)="onCancelExersice()"
    ></app-header>
  </div>

  <!-- <div class="videoPreview" *ngIf="videoSource && recordingFinish">
    <video [src]="videoSource" playsinline controls #videoPreview></video>
    <button class="close" (click)="redirectToPhoto()">X</button>
  </div> -->

  <div class="recording__logo">
    <img
      src="assets/{{ brand }}/{{ branding?.generalConfig?.waterMarkUrl }}"
      alt="logo"
    />
  </div>

  <div class="recording__video">
    <video id="video" class="video" autoplay playsinline muted #video></video>
  </div>

  <div class="counter" *ngIf="counterTime">
    <img
      src="../../../assets/images/Animation.apng?ver={{ randomNum }}"
      alt=""
    />
    <!-- <p class="m-0">{{ counter }}</p> -->
  </div>

  <canvas
    #canvas
    class="canvas"
    id="canvas"
    width="640"
    height="480"
    [ngClass]="{ zoomOutBottom: isScreenShot }"
    [ngStyle]="{ visibility: isScreenShot ? 'visible' : 'hidden' }"
  ></canvas>
  <div class="recording__button">
    <div class="recording__button--btnGroups">
      <button type="button" class="recordingBtn" (click)="confirm()">
        <img
          src="assets/{{ brand }}/stopbutton.png"
          alt="camera-icon"
          class="btnIcon"
        />
      </button>

      <button
        type="button"
        class="recordingBtn cameraBtn"
        (click)="takescreenshot()"
        [disabled]="!paddingClass"
      >
        <img
          src="assets/{{ brand }}/camera.png"
          alt="camera-icon"
          class="btnIcon"
        />
      </button>
    </div>

    <div class="recording__button--finish">
      <button
        type="button"
        class="button button-big button-fill"
        (click)="onFinish()"
        [disabled]="!paddingClass"
        [ngStyle]="{
          background: branding?.generalConfig?.buttonFill?.backGround
            ? branding?.generalConfig?.buttonFill?.backGround
            : '',
          border: branding?.generalConfig?.buttonFill?.border
            ? branding?.generalConfig?.buttonFill?.border
            : '',
          color: branding?.generalConfig?.buttonFillText?.color
            ? branding?.generalConfig?.buttonFillText?.color
            : '',
          fontFamily: branding?.generalConfig?.buttonFillText?.fontFamily
            ? branding?.generalConfig?.buttonFillText?.fontFamily
            : '',
          fontWeight: branding?.generalConfig?.buttonFillText?.fontWeight
            ? branding?.generalConfig?.buttonFillText?.fontWeight
            : '',
          fontSize: branding?.generalConfig?.buttonFillText?.fontSize
            ? branding?.generalConfig?.buttonFillText?.fontSize
            : '',
          borderRadius: branding?.generalConfig?.buttonFill?.borderRadius
            ? branding?.generalConfig?.buttonFill?.borderRadius
            : ''
        }"
      >
        {{ 'recordingPage.finishRecording' | translate }}
      </button>
    </div>
  </div>
</div>
<div [innerHTML]="myStyle"></div>
<div
  class="sidebar recording-sidebar"
  #sidenav
  *ngIf="isSidebarOpen"
  @fadeAnimation
>
  <div class="sidebar__header">
    <button type="button" (click)="onSlidebarClose()">
      <img src="assets/icnons/close.png" alt="closebtn" id="closeBtn" />
    </button>

    <div>
      <button type="button" class="button" id="cross">
        <i class="pi pi-times" (click)="confirm()" alt="cross"></i>
      </button>
    </div>
  </div>

  <div
    class="sidebar__content"
    id="sidebar__content"
    *ngIf="appData"
    [innerHTML]="appData?.descriptionItems[2]?.content"
  ></div>
</div>

<p-confirmDialog header="Confirmation" #cd>
  <ng-template pTemplate="header">
    <p
      class="header m-0"
      [ngStyle]="{
        color: branding?.generalConfig?.contentTitle?.color
          ? branding?.generalConfig?.contentTitle?.color
          : '',
        fontFamily: branding?.generalConfig?.contentTitle?.fontFamily
          ? branding?.generalConfig?.contentTitle?.fontFamily
          : '',
        fontWeight: branding?.generalConfig?.contentTitle?.fontWeight
          ? branding?.generalConfig?.contentTitle?.fontWeight
          : '',
        fontSize: branding?.generalConfig?.contentTitle?.fontSize
          ? branding?.generalConfig?.contentTitle?.fontSize
          : ''
      }"
    >
      {{ 'recordingPage.quitExe' | translate }}
    </p>
  </ng-template>
  <ng-template pTemplate="footer" class="footer">
    <button
      class="button button-small button-outline"
      type="button"
      (click)="cd.reject()"
      [ngStyle]="{
        background: branding?.generalConfig?.buttonOutline?.backGround
          ? branding?.generalConfig?.buttonOutline?.backGround
          : '',
        border: branding?.generalConfig?.buttonOutline?.border
          ? branding?.generalConfig?.buttonOutline?.border
          : '',
        color: branding?.generalConfig?.buttonOutlineText?.color
          ? branding?.generalConfig?.buttonOutlineText?.color
          : '',
        fontFamily: branding?.generalConfig?.buttonOutlineText?.fontFamily
          ? branding?.generalConfig?.buttonOutlineText?.fontFamily
          : '',
        fontWeight: branding?.generalConfig?.buttonOutlineText?.fontWeight
          ? branding?.generalConfig?.buttonOutlineText?.fontWeight
          : '',
        fontSize: branding?.generalConfig?.buttonOutlineText?.fontSize
          ? branding?.generalConfig?.buttonOutlineText?.fontSize
          : '',
        borderRadius: branding?.generalConfig?.buttonOutline?.borderRadius
          ? branding?.generalConfig?.buttonOutline?.borderRadius
          : ''
      }"
    >
      {{ 'setup.goback' | translate }}
    </button>

    <button
      class="button button-small button-fill"
      type="button"
      (click)="cd.accept()"
      [ngStyle]="{
        background: branding?.generalConfig?.buttonFill?.backGround
          ? branding?.generalConfig?.buttonFill?.backGround
          : '',
        border: branding?.generalConfig?.buttonFill?.border
          ? branding?.generalConfig?.buttonFill?.border
          : '',
        color: branding?.generalConfig?.buttonFillText?.color
          ? branding?.generalConfig?.buttonFillText?.color
          : '',
        fontFamily: branding?.generalConfig?.buttonFillText?.fontFamily
          ? branding?.generalConfig?.buttonFillText?.fontFamily
          : '',
        fontWeight: branding?.generalConfig?.buttonFillText?.fontWeight
          ? branding?.generalConfig?.buttonFillText?.fontWeight
          : '',
        fontSize: branding?.generalConfig?.buttonFillText?.fontSize
          ? branding?.generalConfig?.buttonFillText?.fontSize
          : '',
        borderRadius: branding?.generalConfig?.buttonFill?.borderRadius
          ? branding?.generalConfig?.buttonFill?.borderRadius
          : ''
      }"
    >
      {{ 'recordingPage.quit' | translate }}
    </button>
  </ng-template>
</p-confirmDialog>
