@import '../../../assets/scss/variables';
@import '../../../assets/scss/button';
@import '../../../assets/scss/mixin';
@import '../../../assets/scss/_radiobutton';
@import '../../../assets/scss/dialogBox';

.container {
  position: absolute;
  width: 100%;
  height: calc(100% - 6.4rem);
  padding: 0 4rem;

  &__title {
    width: 100%;

    &-text {
      font-size: 4rem;
      font-weight: 400;
      color: $blue-color;
      margin: 4.8rem 0 3rem 0;
    }

    &-message {
      font-weight: 500;
      font-size: 3.2rem;
      color: $primary-color;
    }
  }
}

.questions {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 4.8rem;
  height: 49.624rem;
  padding: 7.736rem 3.893rem;
  border-radius: 0.5rem;
  background-color: $background-grey-color;
  justify-content: space-between;

  &__ques {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &-text {
      flex-grow: 1;
      flex: 0.8;
      color: $black-color;
      font-size: 3.2rem;
      font-weight: 400;
      margin: 0;
    }

    &-radioGroup {
      width: 30%;
      display: flex;
      justify-content: flex-end;
      .radioBtn {
        margin-left: 7.3rem;
        display: flex;
        align-items: center;

        @media (max-width: 320px) {
          margin-left: 5rem;
          display: flex;
          align-items: center;
        }
      }
      label {
        font-size: 3.2rem;
        margin-left: 1.46rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.sidebar .closed {
  border: none;
  background: transparent;
  width: unset !important;
  height: unset !important;
}
.sidebar .closed img {
  margin-right: -4px !important;
  top: 1px !important;
}
.sidebar__header img {
  margin-top: 6.9rem !important;
  margin-bottom: 6.783rem !important;
}

#closedBtn {
  width: 4rem;
  height: unset !important;
}
.sidebarHeader {
  display: flex;
  width: 100%;
  align-items: center;
  height: 6rem;
  justify-content: space-between;

  .closed {
    position: relative !important;
    right: 0 !important;
    top: 0 !important;
  }
}

.bottomContainer {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  bottom: 4rem;
  width: 100%;
  right: 0;
  padding: 0 4rem;
}

.learnMoreText {
  color: #707172 !important;
  cursor: pointer;
}

.pi {
  font-size: 3.2rem;
}

//sidebar
@include sidebarStyles;
