<div class="header">
  <app-header
    [onFinishRecording]="recording"
    (show)="slibar()"
    (cancelExe)="onCancelExersice()"
  ></app-header>
</div>

<div class="container">
  <div class="container__title">
    <p class="container__title-text">
      {{ 'selfassesmentquestions.title' | translate }}
    </p>
    <p class="container__title-message m-0">
      {{ 'selfassesmentquestions.message' | translate }}
      <span class="learnMoreText" (click)="sidebarOpenData($event)"
        >Learn more <i class="pi pi-question-circle"></i
      ></span>
    </p>
  </div>

  <div class="questions" *ngIf="radioData">
    <div
      class="questions__ques"
      *ngFor="let queArr of radioData; let i = index"
    >
      <p class="questions__ques-text">{{ i + 1 }}. {{ queArr.name }}</p>

      <div class="questions__ques-radioGroup">
        <div class="p-field-radiobutton radioBtn">
          <label for="ans{{ i }}">
            <p-radioButton
              name="answer{{ i }}"
              [value]="queArr?.answers[0]?.isCorrect"
              [(ngModel)]="queArr.selectedAnswer"
              id="yes"
              (onClick)="handleChange($event, queArr)"
              inputId="ans{{ i }}"
            ></p-radioButton>
            {{ queArr?.answers[0]?.name }}</label
          >
        </div>

        <div class="p-field-radiobutton radioBtn">
          <label for="ans{{ i + 10 }}">
            <p-radioButton
              name="answer{{ i }}"
              [value]="queArr?.answers[1]?.isCorrect"
              [(ngModel)]="queArr.selectedAnswer"
              id="no"
              (onClick)="handleChange($event, queArr)"
              inputId="ans{{ i + 10 }}"
            ></p-radioButton>
            {{ queArr?.answers[1]?.name }}</label
          >
        </div>
      </div>
    </div>
  </div>
  <div class="bottomContainer">
    <button
      class="button button-small button-fill"
      type="button"
      (click)="redirectTo()"
      [disabled]="isDisable()"
    >
      {{ 'selfassesment.next' | translate }}
    </button>
  </div>
</div>

<div
  class="sidebar"
  #sidenav
  *ngIf="sidebarOpen || sidebarOpenText"
  @fadeAnimation
>
  <div class="sidebarHeader">
    <button class="closed" (click)="closeSidebar()">
      <img src="assets/icnons/close.png" alt="closebtn" id="closedBtn" />
    </button>
    <button class="close" (click)="confirm()">
      <i class="pi pi-times" alt="cross"></i>
    </button>
  </div>
  <div class="sidebar__header">
    <img src="assets/images/logo.svg" alt="logo" />
  </div>

  <div
    class="sidebar__content"
    id="sidebar__content"
    *ngIf="appData"
    [innerHTML]="appData?.case?.descriptionItems[4]?.content"
  ></div>

  <p-confirmDialog header="Confirmation" #cd>
    <ng-template pTemplate="header">
      <p class="header m-0">{{ 'chooseScreenshot.quitExe' | translate }}</p>
    </ng-template>
    <ng-template pTemplate="footer" class="footer">
      <button
        class="button button-small button-outline"
        type="button"
        (click)="cd.reject()"
      >
        {{ 'chooseScreenshot.goback' | translate }}
      </button>

      <button
        class="button button-small button-fill"
        type="button"
        (click)="cd.accept()"
      >
        {{ 'chooseScreenshot.quit' | translate }}
      </button>
    </ng-template>
  </p-confirmDialog>
</div>
